<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admsty.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Cliente - Agenda Fitness</title>
    <style>

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 600px;
            width: 100%;
            padding: 20px;
            background-color: transparent;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(213, 212, 212, 0.1);
            align-items: center;
        }
        
    </style>
</head>
<body>

    <header>
        {% if erro %}
        <div style="color: rgb(255, 60, 0);">{{ erro }}</div>
        {% endif %}
        <h1>Agenda Fitness</h1>
        <h1>quem tem objetivo nao tem desculpas. treine com determinaçao.</h1>
    </header>

    <nav>
        <a href="#">Início</a>
        <a href="#horarios">Horários</a>
        <a href="#contato">Contato</a>
    </nav>
 
        <form method="POST" action="{{ url_for('app.addcard') }}">
            
            <div class="card card0">
                <h2>card 1</h2>
                <label >nome usuario</label>
                <input type="text" name="nome_usuario" value="{{ nome_do_usuario }}"> 
                <label for="dieta">dieta:</label>
                <input type="text" name="dieta" id="dieta">

                <label for="livre">anotaçoes:</label>
                <input type="text" name="livre" id="livre">
                <label for="hora"></label>
                <input type="text" name="hora" id="hora">

                <button class="card" type="submit"> enviar</button>
            </div>
        </form>
        
        </div>
    </section>

  

</body>
</html>
