<!DOCTYPE html>
<html>
  <head>
    <title>Tela de Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <div id="entrace">
      bem vindo!      
    </div>
    
    <div id= "formt", style="margin-top: 50px",  >
      <form action="#" method="post">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username">
      
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password">
      
        <input type="submit" value="Entrar">



    </div>
    </form>
    <div class="cada">
      <a href="{{ url_for('app.index') }}"  >
        <button > Cadastro</button>
    </a>
    </div>
  </body>
</html>
