<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>

    <h1>Lista de Usuários</h1>

    <ul>
        {% for usuario in usuarios %}
            <li>
                <strong>Nome:</strong> {{ usuario.nome }}<br>
                <strong>Email:</strong> {{ usuario.email }}<br>
                <strong>Senha:</strong> {{ usuario.senha }}<br>
    
                <!-- Exibindo informações relacionadas ao Card do usuário -->
                <strong>Dieta:</strong> {{ usuario.cards[0].dieta }}<br>
                <strong>Livre:</strong> {{ usuario.cards[0].livre }}<br>
    

                <a class="delete_link" href="/delete/{{ usuario.id }}">Excluir</a>
                
            </li>
        {% endfor %}
    </ul>

</body>
</html>
