<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admsty.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seu perfil</title>
    <style>
    </style>
</head>
<body>

    <header>
        {% if erro %}
        <div style="color: rgb(9, 255, 0);">{{ erro }}</div>
        {% endif %}
        <h1>Seu perfil</h1>
        <h1>quem tem objetivo nao tem desculpas. treine com determinaçao.</h1>
    </header>

    <nav>
        <a href="#">Meu perfil</a>
        <a href="#">Início</a>
        <a href="#horarios">Horários</a>
        <a href="#contato">Contato</a>
    </nav>
    <section class="perfil">
        <div class="card card0">
            {% if usuario %}
                <h2>{{ usuario.id }}</h2>
                <h1>{{ usuario.nome }}</h1>
            {% else %}
                <p>Perfil não encontrado</p>
            {% endif %}
        </div>
                 
    </section>

  

</body>
</html>


