<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admsty.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Cliente - Academia Fitness</title>
    <style>
    </style>
</head>
<body>

    <header>
        <h1>Area do Cliente</h1>
    </header>

    <nav>
        <a href="#">Meu perfil</a>
        <a href="#">Início</a>
        <a href="#horarios">Horários</a>
        <a href="#dietas">Dietas</a>
        <a href="#contato">Contato</a>
    </nav>
    <section class="cards-treino">
        <div class="card card0">
            <h2>card</h2>
            <p>conteudo</p>
        </div>

        <div class="card card1">
            <h2>Card 1</h2>
            <p>Conteúdo do Card 1</p>
        </div>

        <div class="card card2">
            <h2>Card 2</h2>
            <p>Conteúdo do Card 2</p>
        </div>

        <div class="card card3">
            <h2>Card 3</h2>
            <p>Conteúdo do Card 3</p>
        </div>
    </section>

  

</body>
</html>
